<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=dhanusha;AccountKey=6kQpy3YlHakgKSXuClYLR+UQ/cM4vmKM9HnWwJnPmYBFLH8uIZKYufCgu+VMeviHo7s/1Ys6IUiH3+PABlqJDA==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  
</configuration>